<%- include('partials/header', { pageType: 'Home', pageTitle: 'Bank Glasgow Fox' }) %>

<section>
  <form action="/customers/<%= customerData.id %>/editProfile" method="post">
    <div style="margin: 15px 0;">
      <label for="identityNumber">ID Number: </label> <br>
      <input type="text" name="identityNumber" id="identityNumber" value="<%= customerData.identityNumber %>">
    </div>
    <div style="margin: 15px 0;">
      <label for="fullName">Full Name: </label> <br>
      <input type="text" name="fullName" id="fullName" value="<%= customerData.fullName %>">
    </div>
    <div style="margin: 15px 0;">
      <label for="address">Address: </label> <br>
      <input type="text" name="address" id="address" value="<%= customerData.address %>">
    </div>
    <div style="margin: 15px 0;">
      <label for="birthDate">ID Number: </label> <br>
      <input type="date" name="birthDate" id="birthDate" value="<%= newBirthDate %>">
    </div>
    <div style="margin: 15px 0;">
      <p>Gender: </p>
      <div>
        <input type="radio" id="male" name="gender" value="male" <%= (customerData.gender === 'male') ? 'checked' : '' %>>
        <label for="male">Male</label>
      </div>
      <div>
        <input type="radio" id="female" name="gender" value="female" <%= (customerData.gender === 'female') ? 'checked' : '' %>>
        <label for="female">Female</label>
      </div>
    </div>
    <div>
      <button type="submit" style="font-size: 15px;">UPDATE</button>
    </div>
  </form>
</section>

<%- include('partials/footer') %>